
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit"
                     Class="mr-3">

                Add Allocation

            </MudIcon>
        </MudText>
    </TitleContent>

    <DialogContent>
        <div class="d-flex justify-content-start">
            <MudButton Color="Color.Success"
                       StartIcon="@Icons.Material.Filled.Add">Add Item</MudButton>

            <MudButton Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Delete">Remove Item</MudButton>
        </div>
    </DialogContent>

</MudDialog>

@code {

}