@page "/clients"
@rendermode InteractiveServer

<PageTitle>Clients</PageTitle>

<div class="d-flex">
    <div class="mr-auto p-2">
        <h1>Clients</h1>
    </div>

    <div class="p-2">
        <MudFab Color="Color.Success"
                StartIcon="@Icons.Material.Filled.Add" />

        <MudFab Color="Color.Warning"
                StartIcon="@Icons.Material.Filled.Edit" />

        <MudFab Color="Color.Error"
                StartIcon="@Icons.Material.Filled.Delete" />
    </div>
</div>
