@page "/clients/{id}"
@using InvoiceAutomationWebApp.Data
@using InvoiceAutomationWebApp.Data.Clients.Entities

@inject ApiClient api
@inject NavigationManager NavigationManager

@if (isLoading)
{
    <h1>Fetching Data...</h1>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
    <MudSkeleton Width="70%" Height="50px"/>
}
else
{
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>@client!.ClientName</h1>
        </div>

        <div class="p-2">
            <MudFab Color="Color.Default"
                    OnClick="OnSave"
                    StartIcon="@Icons.Material.Filled.Save" />

            <MudFab Color="Color.Error"
                    OnClick="NavigateToClients"
                    StartIcon="@Icons.Material.Filled.Cancel" />
        </div>
    </div>

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Details">
            <MudPaper MaxWidth="70%">
                <MudTextField @bind-Value="client.ClientName" Label="Name" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.ClientEmail" Label="Email" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.ClientPhone" Label="Phone" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.ClientMobile" Label="Mobile" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.AddressLine1" Label="Address Line 1" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.AddressLine2" Label="Address Line 2" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.PostCode" Label="Postcode" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.State" Label="State" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value="client.Country" Label="Country" Variant="Variant.Outlined"></MudTextField>
            </MudPaper>
        </MudTabPanel>

        <MudTabPanel Text="Transactions">

        </MudTabPanel>
    </MudTabs>
}

@code {

    private Client? client;
    private bool isLoading = true;

    [Parameter]
    public string id { get; set; } = string.Empty;

    private async Task GetClient()
    {
        var _Response = await api.GetClientAsync(id);

        client = _Response.Client;
    }

    private void NavigateToClients()
        => NavigationManager.NavigateTo("clients");

    protected override async Task OnInitializedAsync()
    {
        await GetClient();
        isLoading = false;
        this.StateHasChanged();
    }

    private async Task OnSave()
    {
        //TODO
    }
}
